/* 

   .WS - stands for devises that their screen
        width is greater then their height.
   .HS - the oposite of WS.

   this is to determine what style to display.

*/

.header1 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.WS_button {
    width: 100%;
    height: 40px;
    font-size: 15px;
}
.HS_button {
    width: 100%;
    height: 100px;
    font-size: 40px;
}



.horzContainer {
    max-width: 100%;
    overflow: auto;
    display: flex;
}

.fig_WB {
    width: 450px;
    height: 280px;
    margin: 10px;
}

.fig_OWID {
    width: 450px;
    height: 450px;
    margin: 10px;
}

.tooltip {
    font-size: 30px;
    border: 2px solid #000000;
    color: #fff;
    background: #fff;
}
